<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="static/css/SPstyles.css">
</head>
<body>
    <div class="signup-container">
        <h2>Sign Up</h2>
        <div class="signup-form">
            <h3 class="signup-header">Create an Account</h3>
            <a href="/help" class="help-button">?</a>
            <form action="/signup" method="POST">
                <label for="username" class="label">Username</label>
                <input type="text" id="username" name="username" required class="input-field"><br>
                
                <label for="password" class="label">Password</label>
                <input type="password" id="password" name="password" required class="input-field"><br>
                
                <div class="button-container">
                    <input type="submit" value="Sign Up" class="form-button">
                    <a href="/" class="form-button">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
